PORT=3000
NODE_ENV=development

# SQL Server
DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_PORT=1433
DB_NAME=FlavorMapDB
DB_AUTH=windows
DB_ENCRYPT=false
DB_TRUST_CERT=true

# Optional direct connection string for SQL Server
#DB_CONNECTION_STRING=Data Source=localhost\\SQLEXPRESS;Initial Catalog=FlavorMapDB;User ID=sa;Password=YourPassword123!;Encrypt=false;TrustServerCertificate=True;

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Frontend URL (CORS)
CLIENT_URL=http://localhost:5500
